<!DOCTYPE html>
{% extends "./base.html" %}
{% block title %}WebPlayer{% endblock %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen" title="no title"  charset="utf-8">

<div class="container">
    <h2>Welcome to the Spectrum / Alexa Video Player!</h2>
    <h4>To get started, just say "Alexa, tell Spectrum to play video."</h4>
    <video id="player"></video>
    <br/>
    <button id="play">PLAY</button>
    <button id="pause">PAUSE</button>
    <br/>    
    <button id="enterFullScreen">ENTER FULL SCREEN</button>
    <button id="exitFullScreen">EXIT FULL SCREEN</button>
    <h4 id="connectionStatus">Waiting to connect....</h4>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
